body{
    background-color: lightgray;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: grid;
    column-gap: 15px;
    place-items: stretch;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
#contListaLotow{
    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
}
#contDaneLotu{
    grid-template-columns: minmax(190px, 1fr) 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

footer {
    grid-area: footer;
    background-color: aliceblue;
    color: green;
    font-family: sans-serif;
    font-size: 30px;
    width: 50%;
    margin-top: 50px;  
  }
table#loty{
    margin-left: 0;
    margin-right: 0;
}
table{
      border: 1mm solid grey;
      border-collapse: collapse;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      line-height: normal;
  }
tr{
    border: 1mm ridge grey;
}
th{
    border: 1mm ridge grey;
    padding: 5px;
}
tr.tytul{
    font-size: 20px;
}
h1{
    font-size: 50px;
    font-weight: 100;
    grid-area: header;
}
p{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
p#pierwszy{
    background-color: blanchedalmond;
}
p#drugi{
    background-color: burlywood;
    display: block;
}
p#trzeci{
    width: 200px;
    background-color: rgba(0, 255, 255, 0.329);
    display: block;
    position: absolute;
    left: 20px;
    top:55px;
    z-index: 2;
}
div#super{
    background-color: coral;
    position: relative;
}
main{
    grid-area: main;
    background-color: rgb(192, 192, 192);
    border-collapse: collapse;
    padding-bottom: 20px;
    padding-top: 10px;
}

div.miasto{
    text-align: center;
    background-color: darkgray;
    display: inline-block;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    min-width: 430px;
}

a.nazwa{
    font-size: 35px;
}
img{
    width: 350px;
    height: 250px;
    margin:20px;
}
#samolot{
    font-size: 20px;
    line-height:25px;
    padding-bottom: 20px;
}
img#samolotzdj{
    width: 240px;
    height: 160px;
}
ol{
    text-align: left;
}

nav{
    grid-area: nav;
    text-align: left;
    background-color: green;
}
nav ul{
    list-style: none;
    text-transform: uppercase;
    font-family:fantasy;
}
nav >ul{
    padding-left: 1px;
}
nav a{
    color:darkblue;
}
nav a:link{
    text-decoration: none;
}
nav a:visited{
    color:darkblue;
}
aside{
    grid-area: aside;
    background-color: green;
}
aside tr{
    background-color: rgb(226, 208, 43);
}
aside tr.bopozniony{
    background-color: orange;
}
aside tr.odwolany{
    background-color: red;
}
aside form{
    text-align: left;
}
aside ol{
    background-color: limegreen;
}
aside >ol >li{
    position: relative;
}
aside >ol >li:nth-child(2n){
    background-color: lime;
}
li .miejsce{
    display: none;
    z-index: 10;
}
li:hover .miejsce{
    background-color: darkgreen;
    display: block;
    width: 100px;
    height: 20px;
    position: absolute;
    left:100px;
    top: -8px;
}
div#okienko{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.7);
    width:70%;
    height: 70%;
    min-width: 300px;
    position: fixed;
    top:15%;
    left:15%;
    z-index: 11;

}
div#okienko > h1{
    opacity:0.95;
}

@media screen and (max-width:400px){
    #contListaLotow{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header" "nav" "main" "aside" "footer";
    }
    #contDaneLotu{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header" "main" "aside" "footer";
    }
    .imgMiasto{
        display: none;
    }
    div.miasto > div{
        display: none;
    }
    div.miasto{
        min-width:0px;
        width: 80%;
    }
}

@media screen and (min-width:400px) and (max-width:800px){
    #contListaLotow{
        grid-template-columns: minmax(340px, 2fr) 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header"
        "nav nav" 
        "main aside" 
        "footer footer";
    }
}