body {
  text-align: center;
  background-color: lightgrey;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
  width: 80%;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #779aa6;
  margin-left: auto;
  margin-right: auto;
}
main{
  min-width: 610px;
  width: 80%;
  margin: auto;
  margin-top: 0px;
  padding-top: 20px;
  background-color: #376474;
  padding-bottom: 20px;
}
a {
  color: black;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
li{
  font-size: 30px;
  font-weight: bold;
  width: 600px;
  margin: auto;
  background-color: #779aa6;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}
img{
  width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
}
h1{
  background-color: #779aa6;
  font-size: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
table{
  border: 1mm solid #0e0482;
  margin: auto;
  border-collapse: collapse;
}
th{
  border-right: 1mm solid #0e0482;
}
table tr:first-child{
  border: 1mm solid #0e0482;
}
table tr:nth-child(2){
  font-size: 18px;
}
.powrot{
  color: #eece6c;
  font-size: 18px;
  font-weight: bold;
}
form{
  font-size: 16px;
  color: #f0e8a5;
}
img.maly{
  width: 300px;
  margin-top: 5px;
}
div#top{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #376474;
  font-size: 16px;
  margin: auto;
  text-align: center;
}
.login{
  text-align: right;
  color: #f0e8a5;
  position: fixed;
  right: 20px;
  margin-right: 0;
  display: inline-block;
}
.login > a{
    color: #eece6c;
    text-decoration: none;
}