doctype html
html
    head
        title= Statystyki
        link(rel='stylesheet', href='main.css', type='text/css')
    body    
        div(class='container contDefaultLayout')
            header Statystyki użytkownika #{user}
            main
                table(class='wyniki')
                    tr
                        th Nazwa quizu
                        th Wynik
                    each s in statystyki
                            tr
                                th 
                                    a(href='/statystyki/'+s.nazwa) #{s.nazwa}
                                th 
                                    a(href='/statystyki/'+s.nazwa) #{s.wynik}
                br
                a(href='/') Powrót do strony głównej.
            footer Autor: Mateusz Turowski