body{
    background-image: url("dynamic-style.png");
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hidden{
    display: none;
}
.container{
    display: grid;
    place-items: stretch;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
#contQuiz{
    background-color: #eaeae1;
	width: 90%;
	overflow: hidden;
	border: 5px #5F9BD1 solid;
    border-radius: 20px;

    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
#contQuizIndex{
    background-color: #eaeae1;
	width: 90%;
	overflow: hidden;
	border: 5px #5F9BD1 solid;
    border-radius: 20px;

    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    background-color: #e1e1de;
    font-size: 60px;
    font-weight: 500;
    grid-area: header;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 15px #808080 solid;
}
main{
    grid-area: main; 
    border-collapse: collapse;
    padding-bottom: 20px;
    padding-top: 10px;
    min-height: 100px;
    font-size: 20px;
}
footer {
    grid-area: footer;
    background-color: #b6d9f7;
    color: #16ca16;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 50px;  
    width: 60%;
  }
div#contPrzyciski{
    grid-template-columns: 1fr 130px 121px 130px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". prev cancel next ."
    ". . finish . ."
}
button#next{
    grid-area: next;
}
button#prev{
    grid-area: prev;
}
button#cancel{
    margin:auto;
    grid-area: cancel;
}
button#end{
    margin: auto;
    grid-area: finish;
}
div#obszarPytan{
    width:60%;
    margin:auto;
    background-color: #e7e427;
    padding-bottom: 20px;
}
form#pytania{
    padding-top: 30px;
    padding-bottom: 30px;
}
table#wyniki{
    border: 1mm solid grey;
    border-collapse: collapse;
    margin: auto;
    line-height: normal;
    margin-top: 30px;
}
table#wyniki tr{
    border: 1mm ridge grey;
}
table#wyniki th{
    border: 1mm ridge grey;
    padding: 5px;
}
.odpPoprawna{
    background-color: #16ca16;
}
.odpBledna{
    background-color: #f02a2a;
}
div#zegar{
    width: 12%;
    min-width: 80px;
    margin: auto;
    background-color: #16ca16;
}


@media screen and (max-width:400px){
    div#contQuiz{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    div#obszarPytan{
        width: 100%;
    }
    div#contPrzyciski{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "prev next"
        "cancel cancel"
        "finish finish"
    }
}
@media screen and (min-width:400px) and (max-width:800px){
    div#contQuiz{
        width: 95%;
    }
    div#obszarPytan{
        width: 100%;
    }
}
@media screen and (max-height:500px){
    #contQuiz header{
        display: none;
    }
}